body{
  font-family: sans-serif;
  /* background-color: #1a1a1a; */
  background-color: #fafafa;
  height: 100vh;
  display: grid;
  width: 100%;
  place-items: center;
  margin: 0;
}
*{
  box-sizing: border-box;

}
a{
  text-decoration: none;
}

button {
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 0.6em 1em;
  font-size: 1em;
  font-family: inherit;
  cursor: pointer;
}
